@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(120, 111, 111, 0.5)),url('../images/fb.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-color: #ddd;
	padding-top: 40px;
  margin: 0px;
	font-family:  'Poppins', sans-serif;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

.box{    
    padding: 100px ;
    background-color:white ;
    margin:100px 500px;
    width: 500px;
    text-align:left;
    border-radius: 20px;
  }

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: black;
	font-size: 18px;
	padding: 10px;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }
 
 .success {
    background: #D4EDDA;
    color: #40754C;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
 }

button{
    border-radius: 18px;
    padding:10px;
    font-size: 20px;
    width: 300px;
    border:none;
    background-color:#80C7FC;
    color: black;
}

button:hover{
    opacity: 0.5;
    color: #2d9ada;
}

#navbar {
    overflow: hidden;
    background-color: whitesmoke;
    padding: 10px;
    transition: 0.4s;
    width: 100%;
    z-index: 3;
    top: 0;
    position: fixed;
    height: auto;
  }
    
#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  #navbar-right {
    float: right;
    padding-right: 10px;
    font-family: sans-serif;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar #logo {
    font-family: Georgia;
    color: #2d9ada;
    font-size: 5.5vh;
    display: inline-block; /*if block, takes up whole space. If inline, unable to set height.*/
    background-color: whitesmoke;
  }
  
  .bgheader {
    background-color: #b5e2fa;
    font-family: Georgia;
    padding-top: 70px;
    padding-bottom:10px;
    font-size: 20px;
    height: auto;
  }
  
  footer{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    text-align:center; 
    padding:5px;
  }
  
  @media only screen and (max-width: 480px) {
.container{
      width: 0%;
      float: center;
      padding-top: 70px;
      padding-left: 0px ; 
  }
#button{
    border-radius: 18px;
    padding:10px;
    width: 120px;
    border:none;
    background-color:#80C7FC;
    color: white;
}
    
    #navbar {
      padding: 20px 10px !important;
      
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
      padding:2px;
    }
    #navbar-right {
      float: none;
    }
    #navbar #logo {
      font-size: 2.5vh;
    }
    .bgheader {
      font-size: 10px;
      padding-top: 300px;;
      padding-bottom: 10px;
    }
    footer{
      text-align:center; 
    }




  }
  
  @media only screen and (max-width: 730px) {

    .container{
      width: 0%;
      float: center;
      padding-top: 70px;
      padding-left: 40px ;
    }

    #navbar {
      padding: 20px 10px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
      padding:2px;
    }
    #navbar-right {
      float: none;
    }
    .bgheader {
      font-size: 10px;
      padding-top: 200px;;
      padding-bottom: 10px;
    }



  }