@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
  box-sizing: border-box;
}

body{
	padding-top: 40px;
  margin: 0px;
	font-family:  'Poppins', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(120, 111, 111, 0.5)),url('../images/fb.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}


::placeholder {
  padding-left: 10px;
  color: black;
}

.container{
    width: 100%;
    float: center;
    padding-top: 70px;
    padding-left: 460px ; 
}
.box{    
  padding: 50px ;
  background-color: #4899c5;
  width: 600px;
  border-radius: 20px;
}
li{
    text-align: left;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}
  
input{
  border-radius: 10px;
  float: center;
  border: 2px solid black;
  height: 53.8px;
  width: 50%;
  background: #b5e2fa;
}

.search{
  width: 6.5%;
  padding: 18px;
  background: #2196F3;
  color: black;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.search:hover{
  background-color: grey;
  color: black;
}

.add{
  float: center;
  height: 8%;
  padding: 10px;
  background: #2196F3;
  color: black;
  font-size: 15px;
  border: 2px solid black;
  border-radius:20px;
  cursor: pointer;
}

.add:hover{
  background-color: grey;
  color: white;
}

.box img{
  margin-left: 75px;
  width: 70%;
  height: 30%;
}

#navbar {
    overflow: hidden;
    background-color: whitesmoke;
    padding: 10px;
    transition: 0.4s;
    width: 100%;
    z-index: 3;
    top: 0;
    position: fixed;
    height: auto;
  }
    
#navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  #navbar-right {
    float: right;
    padding-right: 10px;
    font-family: sans-serif;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar #logo {
    font-family: Georgia;
    color: #2d9ada;
    font-size: 5.5vh;
    display: inline-block; /*if block, takes up whole space. If inline, unable to set height.*/
    background-color: whitesmoke;
  }
  
  .bgheader {
    background-color: #b5e2fa;
    font-family: Georgia;
    padding-top: 70px;
    padding-bottom:10px;
    font-size: 20px;
    height: auto;
  }
  
  footer{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    text-align:center; 
    padding:5px;
  }
  
  @media only screen and (max-width: 480px) {
    .container{
      width: 0%;
      float: center;
      padding-top: 70px;
      padding-left: 0px ; 
  }
  .button{
    background-color: rgb(46, 132, 212);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
    
    #navbar {
      padding: 20px 10px !important;
      
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
      padding:2px;
    }
    #navbar-right {
      float: none;
    }
    #navbar #logo {
      font-size: 2.5vh;
    }
    .bgheader {
      font-size: 10px;
      padding-top: 300px;;
      padding-bottom: 10px;
    }
    footer{
      text-align:center; 
    }




  }
  
  @media only screen and (max-width: 730px) {

    .container{
      width: 0%;
      float: center;
      padding-top: 70px;
      padding-left: 40px ;
    }

    #navbar {
      padding: 20px 10px !important;
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
      padding:2px;
    }
    #navbar-right {
      float: none;
    }
    .bgheader {
      font-size: 10px;
      padding-top: 200px;;
      padding-bottom: 10px;
    }



  }
  
  
  
  
  
  
  