body {
  background-color: white;
  text-align: center;
  margin: 0;
}

#navbar {
  overflow: hidden;
  background-color: whitesmoke;
  padding: 10px;
  transition: 0.4s;
  width: 100%;
  z-index: 3;
  top: 0;
  position: fixed;
  height: auto;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  line-height: 25px;
  border-radius: 4px;
}

#navbar-right {
  float: right;
  padding-right: 10px;
  font-family: sans-serif;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar #logo {
  font-family: Georgia;
  color: #2d9ada;
  font-size: 5.5vh;
  display: inline-block; /*if block, takes up whole space. If inline, unable to set height.*/
  background-color: whitesmoke;
}

.bgheader {
  background-color: #b5e2fa;
  font-family: Georgia;
  padding-top: 70px;
  padding-bottom:10px;
  font-size: 20px;
  height: auto;
}

footer{
  background-color: whitesmoke;
  text-align:center; 
  padding:5px;
}

@media only screen and (max-width: 480px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
    padding:2px;
  }
  #navbar-right {
    float: none;
  }
  #navbar #logo {
    font-size: 2.5vh;
  }
  .bgheader {
    font-size: 100px;
    padding-top: 300px;;
    padding-bottom: 10px;
  }
  footer{
    text-align:center; 
  }
}

@media only screen and (max-width: 850px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
    padding:2px;
  }
  #navbar-right {
    float: none;
  }
  #navbar #logo {
    font-size: 2.5vh;
  }
  .bgheader {
    font-size: 10px;
    padding-top: 230px;;
    padding-bottom: 10px;
  }
  footer{
    text-align:center; 
  }
}







