@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
body{
	margin:0px;
	padding:0px;
	box-sizing: none;
    text-align:center;
	font-style:bold;
	font-family: 'Poppins', sans-serif;
}
.section{
	width: 100%;
	min-height: 100vh;
	background-color:steelblue;
}
.container{
	width: 70%;
	display: block;
	margin:auto;
	padding-top: 40px;
}

.content{
	padding-left: 20px;
	padding-bottom: 20px;
}
.content-section{
	float: left;
	width: 100%;
	background-color: white;
}

.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 26px;
	font-style: bold;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.content-section .content .button{
	margin-top: 30px;
}
.content-section .content .button a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
	background-color:cadetblue;
	color:blanchedalmond;
}
.content-section .social{
	margin: 20px 20px;
}
.content-section .social i{
	color:#1b06ff;
	font-size: 30px;
	padding: 0px 5px;
}
.content-section .social i:hover{
	color:grey;
}


@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}
}



